.connectWalletImage {
  background-image: url("../imgs/ethereum.svg");
  background-size: contain !important;
  height: 470px;
}

.ethereumRoundedBorder {
  border: 1px solid #fff;
  padding: 7px 15px;
  display: inline-block;
  border-radius: 50%;
}

.addressWrapper {
  margin-top: 40px;
}

.gradientCard {
  border-radius: 10px !important;

  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sendEthForm {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.textCenter {
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000 !important;
}

.transactionCard {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
